.App {
  --character-color: #b05e00;
  --character-color-light: #ffecd7;
  --object-color: #003468;
  --object-color-light: #e1f7ff;
  --location-color: #004e03;
  --location-color-light: #dcffdc;

  --choice-color: #2e0c64;
  --choice-color-light: var(--mantine-color-violet-1);

  --story-node-color: #f2f2f5;

  --node-highlight-color: #ff0072;
  --node-indirect-highlight-color: #ff509f;

  text-align: center;
  height: 100vh;
  padding: 8px 16px;

  /*Overrides*/

  --bs-list-group-active-bg: black;
  
  textarea {
    resize: none;
  }

  .form-control:focus, select:focus{
    box-shadow: none;
  }

  .tab-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tab-pane {
    height: 100%;
  }

  /*Custom Classes*/

  .accordion-item.choice {
    .accordion-header {
      background-color: var(--choice-color-light);
    }
    .accordion-button {
      background-color: transparent;
    }
  }

  /*.list-group-item.active {
    background-color: #d0d0ff;
  }*/

  /*Custom Elements*/

  .story-title {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
  }

  .story-node {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--story-node-color);
    color: #222;                  /* theme.nodeColor */
    border: 1px solid #222;       /* theme.nodeBorder */
    width: 10em;

    &.selected {
      border-color: var(--node-highlight-color);
    }

    &.indirect-selected {
      border-color: var(--node-indirect-highlight-color);
    }

    &.choice {
      background-color: var(--choice-color-light);
    }
    
    .name {
      text-align: center;
      font-weight: 500;
    }

    .title {
      text-align: center;
      font-style: italic;
      font-size: x-small;
    }

    .react-flow__handle {
      &.source {
        border: 1px solid #000;
        padding: 3px;
        background: #fff;
      }

      &.right-choice {
        border-radius: 0%;
        height: 1.5em;
        background: #bfffbf;
      }

      &.wrong-choice {
        border-radius: 0%;
        height: 1.5em;
        background: #ffbfbf;
      }
    }

    .handle-text {
      display: flex;
      position: relative;
      font-size: xx-small;
      text-align: end;
      text-overflow: clip;
      padding-inline-end: 0.75em;
    }

    &:hover {
      box-shadow: var(--box-shadow-sm);
    }
  }

  .story-edge-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 0px;
    border-radius: 50%;
    opacity: 50%;
  }

  .story-node-summary {
    max-width: 10em;
    text-wrap: pretty;
    text-align: start;
    overflow-y: auto;
    font-size: small;
  }

  .wrong-choice {
    background-color: #ffe0e0;
  }

  .dynamic-text-field {
    padding: 0;
    text-align: center;
    text-wrap: pretty;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    &.focus {
      background-color: white;
    }
    &:not(.focus) {
      background-color: #00000008;
      border-color: #00000020;
    }
  }

  .mention-chip {
    display: inline-block;
    cursor: default;
    padding: 0.25em 0.5em;
    width: auto;
  }

  .character-mention {
    background: var(--character-color-light);
    color: var(--character-color);
    border-color: var(--character-color);

    &:focus, &.selected, &.active {
      background: var(--character-color);
      color: var(--character-color-light);
      border-color: var(--character-color-light);
    }
  }

  .object-mention {
    background: var(--object-color-light);
    color: var(--object-color);
    border-color: var(--object-color);

    &:focus, &.selected, &.active {
      background: var(--object-color);
      color: var(--object-color-light);
      border-color: var(--object-color-light);
    }
  }

  .location-mention {
    background: var(--location-color-light);
    color: var(--location-color);
    border-color: var(--location-color);

    &:focus, &.selected, &.active {
      background: var(--location-color);
      color: var(--location-color-light);
      border-color: var(--location-color-light);
    }
  }

  .no-mention {
    background: #eee;
    color: #000;
  }

  .custom-tabs {
    .nav-underline {
      align-items: end;
      gap: 0.25rem;
    }
    
    >li {
      background: white;
    }
    
    .nav-link {
      padding: calc(var(--bs-nav-link-padding-y)/2) calc(var(--bs-nav-link-padding-x)/2);

      &.scene {  
        background-color: var(--story-node-color);
      }
      &.choice {
        background-color: var(--choice-color-light);
      }

      &:not(.active) {
        opacity: 0.75;
      }
    }

    .scene {
      background-color: #eee;
    }

    .close-button {
      visibility: hidden;
    }

    li:hover .close-button, .active .close-button{
      visibility: visible;
    }
  }

  .story-elements {
    .character-mention {
      &.active, &:hover{
        background: var(--character-color);
        color: var(--character-color-light);
        border-color: var(--character-color-light);
      }
    }
    .object-mention {
      &.active, &:hover{
        background: var(--object-color);
        color: var(--object-color-light);
        border-color: var(--object-color-light);
      }
    }
    .location-mention {
      &.active, &:hover{
        background: var(--location-color);
        color: var(--location-color-light);
        border-color: var(--location-color-light);
      }
    }
  }
  .close-button {
    margin-left: 0.5em;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      visibility: visible;
      background: #00000010;
    }

    &:active {
      visibility: visible;
      background: #00000020;
    }
  }

  .prompt-area-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15em;
    z-index: 1500;
    font-size: small;
    
    .nav-tabs {
      font-size: large;
    }
  }

  .full-text:disabled {
    cursor: wait;
  }
}